# Ignore everything in the tomcat9 folder
tomcat9/*

# Do not ignore the webapps directory itself (so the folder structure is maintained)
!tomcat9/webapps/

# Ignore everything in the webapps directory
tomcat9/webapps/*

# Do not ignore the 'one' folder inside webapps
!tomcat9/webapps/one/
